@await Component.InvokeAsync("TotalCartPrice")
<div class="dropdown ms-4 nav-color">
	<button class="btn btn-secondary dropdown-toggle"
			type="button" id="dropdownMenuButton"
			data-bs-toggle="dropdown"
			aria-expanded="false">
		@if(User.Identity.IsAuthenticated)
		{
			@($"{User.Claims.First(claim => claim.Type == ClaimTypes.Email).Value}")
		}
		else
		{
			@("User@gmail.com");
		}
		<img src="@(User.Identity.IsAuthenticated ? User.Claims.First(claim => claim.Type == "avatar").Value
			: "https://localhost:7002/api/Image/default-profile-picture.png")"
			 width="30" alt="User" class="nav-color rounded" />
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<li>
			<span class="dropdown-item-text">
				<img src="@(User.Identity.IsAuthenticated ? User.Claims.First(claim => claim.Type == "avatar").Value
					: "https://localhost:7002/api/Image/default-profile-picture.png")"
					 width="50" alt="User" class="rounded" />
				@if (User.Identity.IsAuthenticated)
				{
					@($"{User.Claims.First(claim => claim.Type == ClaimTypes.Email).Value}")
				}
				else
				{
					@("User@gmail.com");
				}
			</span>
		</li>
		<li><hr class="dropdown-divider"></li>
		<li>
			@if (User.Identity.IsAuthenticated)
			{
				<form asp-controller="Account"
					  asp-action="LogOut"
					  class="form-inline"
					  asp-area="">
					<button type="submit" class="nav-link btn btn-link text-dark">
						Logout
					</button>
				</form>
			}
			else
			{
				<form asp-controller="Account"
					  asp-action="ShowRegistration"
					  asp-area=""
					  class="form-inline">
					<button type="submit" class="nav-link btn btn-link text-dark">
						Sign up
					</button>
				</form>
				<form asp-controller="Account"
					  asp-action="ShowLogin"
					  asp-area=""
					  class="form-inline">
					<button type="submit" class="nav-link btn btn-link text-dark">
						Sign in
					</button>
				</form>
			}
		</li>
	</ul>
</div>