@page
@model ALWD.UI.Admin.Pages.ProductPages.IndexModel

@section SpecialHead {
    <script src="~/js/product-pagination-partial.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Index";
}

<div>
    <p>
        <a asp-page="../Index" class="btn btn-primary my-2">Admin Menu</a>
    </p>
    <p>
        <a asp-page="./Create" class="btn btn-primary my-2">Create New</a>
    </p>
    <p>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-expanded="false">
                @(Model.CurrentCategory == null ? "Все" : Model.CurrentCategory.Name)
            </a>
            <div class="dropdown-menu">
                @if (Model.Categories.Count == 0)
                {
                    <div>No categories available.</div>
                }
                else
                {
                    @foreach (var category in Model.Categories)
                    {
                        <a class="dropdown-item"
                           asp-page="./Index"
                           asp-route-page="@Model.CurrentPage"
                           asp-route-category="@category.NormalizedName">
                            @category.Name
                        </a>
                    }
                    @if (Model.CurrentCategory != null)
                    {
                        <a class="dropdown-item"
                           asp-page="./Index"
                           asp-route-category=""
                           asp-route-page="@Model.CurrentPage">
                            Все
                        </a>
                    }
                }
            </div>
        </div>
</div>
<div id="productArea">
    <partial name="./IndexPartial" model=@Model />
</div>

@section Scripts{
$(document).ready(function () {
    $(document).on('click', '.page-link', function (event) {
        event.preventDefault();

        var url = $(this).attr('href');

        $.ajax({
            url: url,
            type: 'GET',
            success: function (result) {
                $('#productArea').html(result);
            },
            error: function (xhr, status, error) {
                console.error("Data receiving error:", error);
            }
        });
    });
});
}

