@page
@model ALWD.UI.Admin.Pages.CategoryPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary my-2">Create New</a>
</p>
<table class="table">
    @if (Model.CategoryList != null && Model.CategoryList.Any())
    {
        <thead>
            <tr>
                <th>
                    Название 
                </th>
                <th>
                    Нормализованное название
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CategoryList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NormalizedName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> 
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary my-2">Details</a> 
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <thead>
            <tr>
                <th>Name</th>
                <th>Normalized Name</th>
            </tr>
        </thead>
    }
</table>
