@model ALWD.Domain.ViewModels.CatalogViewModel


<div id="productArea">
    <div class="d-flex flex-wrap">
        @foreach (var item in Model.ProductResponse.Data.Items)
        {
            <div class="card m-2" style="width: 18rem;">
                <img src="@item.Image.URL" class="card-img-top" style="height: 18rem; object-fit: contain;" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <form
                        asp-area=""
                        asp-controller="Cart"
                        asp-action="AddToCart"
                        method="post">
                        <input type="hidden" name="productId" value="@item.Id" />
                        <input type="hidden" name="productName" value="@item.Name" />
                        <input type="hidden" name="productPrice" value="@item.Price" />
                        <button type="submit" class="btn btn-primary d-inline-block">Add to cart</button>
                        <input type="number" name="productQuantity" value="1" min="1" max="999" class="form-control me-2 d-inline-block pt-1 ms-5" style="width: 80px;" />
                    </form>
                </div>
            </div>

        }
    </div>

    <nav aria-label="Page navigation example">
        <Pager 
            admin="@(User.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "POWER-USER"))"
            current-page="@Model.ProductResponse.Data.CurrentPage"
            total-pages="@Model.ProductResponse.Data.TotalPages"
            category="@ViewData["currentCategoryNormilizedName"]">
        </Pager>
    </nav>
</div>
