@model ALWD.Domain.ViewModels.CatalogViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Catalog</title>
</head>
<body>
@*     <p>
        <a asp-controller="Product" asp-action="ShowCreatePage">Create product</a>
    </p>
    <p>
        <a asp-controller="Product" asp-action="ShowUpdatePage">Update product</a>
    </p>
    <p>
        <a asp-controller="Product" asp-action="ShowDeletePage">Delete product</a>
    </p>
    <p>
        <a asp-controller="Category" asp-action="ShowCreatePage">Create category</a>
    </p>
    <p>
        <a asp-controller="Category" asp-action="ShowUpdatePage">Update category</a>
    </p>
    <p>
        <a asp-controller="Category" asp-action="ShowDeletePage">Delete category</a>
    </p> *@
    <p>
            <div class="col-2 border-2">
                <ul class="nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-expanded="false">
                            @ViewData["currentCategory"]
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Catalog"
                                   asp-action="Index"
                                   asp-route-category=@null>Все</a>
                            </li>
                            @foreach (var item in Model.Categories.Data)
                            {
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Catalog"
                                       asp-action="Index"
                                       asp-route-category="@Newtonsoft.Json.JsonConvert.SerializeObject(item)">
                                        @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
    </p>

    <div class="d-flex flex-wrap">
        @foreach (var item in Model.ProductResponse.Data.Items)
        {
            <div class="card m-2" style="width: 18rem;">
                <img src="@item.ImagePath" class="card-img-top" style="height: 18rem; object-fit: cover;" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        }
    </div>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @await Component.InvokeAsync("PaginationBar", new PaginationViewModel(
                Model.ProductResponse.Data.TotalPages,
                Model.ProductResponse.Data.CurrentPage,
                ViewData["currentCategoryNormilizedName"] as string))
        </ul>
    </nav>

</body>
</html>
