@model ALWD.UI.ViewModels.CatalogViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Catalog</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
        <div class="col-2 border-2">
            <ul class="nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-expanded="false">
                        @ViewData["currentCategory"]
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Catalog"
                               asp-action="Index"
                               asp-route-category=@null>Все</a>
                        </li>
                        @foreach (var item in Model.Categories)
                        {
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Catalog"
                                   asp-action="Index"
                                   asp-route-category="@item.NormalizedName">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Id)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Name)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Description)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Price)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().ImagePath)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img src="@item.ImagePath"/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
